.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 60px;
}

.title a {
  color: #e835ca;
  text-decoration: none;
}

.flex{
  display: flex;
}